<hr>
<div class="site-footer">
	<div class="row">
		<div class="col-lg-4 contact">
			<h2>Daniel Nikolovski</h2>
			<h6>Eslöv, Sweden</h6>
			<p><a href="mailto:hello@danielnikolovski.com">hello@danielnikolovski.com</a></p>
			<p><a href="tel:+46736733043">+46 736 73 30 43</a></p>
			<p><a href="{{ "/files/cv.pdf" | prepend: site.baseurl }}" target="_blank">Download my resume</a></p>
		</div>
		<div class="col-lg-4">
			<h2>I am currently available for hire!</h2>
			<h6>Like my work? Feel free to say hello! Or hey, say hello even if you dislike my work!</h6>			
		</div>
		<div class="col-lg-4">
			<div class="social">
				<a href="https://twitter.com/danneniko" target="_blank"><i class="fa fa-twitter"></i></a>			
				<a href="https://plus.google.com/111530783880117405107/" target="_blank"><i class="fa fa-google-plus"></i></a>
				<a href="https://www.facebook.com/daniel.nikolovski.79" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="https://github.com/danneniko" target="_blank"><i class="fa fa-github"></i></a>							
				<a href="https://www.linkedin.com/in/danneniko" target="_blank"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>
	</div>	
</div>