<hr>
<div class="site-footer">
	<div class="row">
		<div class="col-lg-4 col-md-4 contact">
			<h2>Daniel Nikolovski</h2>
			<h6>Eslöv, Sweden</h6>
			<p><a href="mailto:hello@danielnikolovski.com">hello@danielnikolovski.com</a></p>
			<p><a href="tel:+46709289050">+46 737 63 57 63</a></p>
			<p><a href="{{ "/files/cv-en.pdf" | prepend: site.baseurl }}" target="_blank">Download my resume</a></p>
		</div>
		<div class="col-lg-4 col-md-4">
			<h2>I am currently only available for remote work</h2>
			<h6>Like my work? Feel free to say hello! Or hey, say hello even if you dislike my work!</h6>
		</div>
		<div class="col-lg-4 col-md-4">
			<div class="social">
				<a href="https://twitter.com/danneniko" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="https://plus.google.com/+Danielnikolovskiweb" target="_blank"><img src="{{ "/img/gplus.svg" | prepend: site.baseurl }}"></a>
				<a href="https://www.facebook.com/danielnikolovskicom" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="https://github.com/danneniko" target="_blank"><i class="fa fa-github"></i></a>
				<a href="https://www.linkedin.com/in/danneniko" target="_blank"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>
	</div>
</div>
