<hr>
<div class="site-footer">
	<div class="row">
		<div class="col-lg-4 col-md-4 contact">
			<h2>Daniel Nikolovski</h2>
			<h6>Eslöv, Skåne</h6>
			<p><a href="mailto:hello@danielnikolovski.com">hello@danielnikolovski.com</a></p>
			<p><a href="tel:+46709289050">+46 737 63 57 63</a></p>
			<p><a href="{{ "/files/cv.pdf" | prepend: site.baseurl }}" target="_blank">Ladda ner mitt CV</a></p>
		</div>
		<div class="col-lg-4 col-md-4">
			<h2>Jag är för närvarande uppbokad till September 2015!</h2>
			<h6>Vill du boka in ett projekt? eller om du bara har något annat kul i tankarna är du varmt välkommen att höra av dig!</h6>
		</div>
		<div class="col-lg-4 col-md-4">
			<div class="social">
				<a href="https://twitter.com/danneniko" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="https://google.com/+DanielNikolovski1" target="_blank"><i class="fa fa-google-plus"></i></a>
				<a href="https://www.facebook.com/danielnikolovskicom" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="https://github.com/danneniko" target="_blank"><i class="fa fa-github"></i></a>
				<a href="https://www.linkedin.com/in/danneniko" target="_blank"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>
	</div>
</div>
