<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="{{ site.title }}" property="og:site_name">
	{% if page.title %}
	  <meta content="{{ page.title }}" property="og:title">
	{% else %}
	  <meta content="{{ site.title }}" property="og:title">
	{% endif %}
	{% if page.title %}
	  <meta content="article" property="og:type">
	{% else %}
	  <meta content="website" property="og:type">
	{% endif %}
	{% if page.description %}
	  <meta content="{{ page.description }}" property="og:description">
	{% else %}
	  <meta content="{{ site.description }}" property="og:description">
	{% endif %}
	{% if page.url %}
	  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
	{% endif %}
	{% if page.image %}
	  <meta content="/img/socialimages/{{ page.image }}" property="og:image">
	{% else %}
	  <meta content="/files/daniel-nikolovski.png" property="og:image">
	{% endif %}
	{% if page.categories %}
	  {% for category in page.categories limit:1 %}
	  <meta content="{{ category }}" property="article:section">
	  {% endfor %}
	{% endif %}
	{% if page.tags %}
	  {% for tag in page.tags %}
	  <meta content="{{ tag }}" property="article:tag">
	  {% endfor %}
	{% endif %}	
	<meta name="google-site-verification" content="QEIQBKRPZG2H0XwrZ8myjXIUkro5Fx0ZPNDGTl2er_U" />
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

	<script type="text/javascript" src="//use.typekit.net/uca4rfy.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>	
	<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-50633647-4', 'auto');
		ga('send', 'pageview');
	</script>
</head>
