<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta property="og:url" content="http://danielnikolovski.com" />	
	<meta property="og:title" content="Daniel Nikolovski" />
	<meta property="og:description" content="Web / UX / SEO" />	
	<meta property="og:image" content="http://danielnikolovski.com/files/daniel-nikolovski.png" />
	<meta name="thumbnail" content="http://danielnikolovski.com/files/daniel-nikolovski.png" />
	<meta name="description" content="{{ site.description }}">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>    
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">	
	<script type="text/javascript" src="//use.typekit.net/uca4rfy.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>	
</head>
