<header class="cf">
  <div class="upperheader cf">
  <a href="{{ site.url }}" class="logo"><h1>Daniel <br>Nikolovski</h1></a>
  <div class="nav-switch-wrapper pull-right visible-xs">
    <button class="nav-switch nav-switch-rotate">
      <span>toggle menu</span>
    </button>
  </div>
  {% if page.active == "about" %}
  <div class="anticontainer">
    <img class="portfolioItem" src="../img/mebig.jpg" alt="">
  </div>
  {% endif %}
</div>
    <h4 class="visible-xs">Web / UX / SEO</h4>

  <div class="hcontainer">
    <div class="navwrapper">
      <nav class="nav">
        {% if page.active == "portfolio" %}
          <a href="{{ site.url }}/" class="current"><h5>Portfolio</h5></a>
        {% else %}
        <a href="{{ site.url }}/"><h5>Portfolio</h5></a>
        {% endif %}

        {% if page.active == "about" %}
          <a href="{{ site.url }}/about" class="current"><h5>Who I am</h5></a>
        {% else %}
          <a href="{{ site.url }}/about"><h5>Who I am</h5></a>
        {% endif %}

        {% if page.active == "articles" %}
          <a href="{{ site.url }}/articles" class="current"><h5>Articles</h5></a>      
        {% else %}
        <a href="{{ site.url }}/articles"><h5>Articles</h5></a>    
        {% endif %}  
      </nav>
      <div class="nav-switch-wrapper pull-right hidden-xs">
        <button class="nav-switch nav-switch-rotate">
          <span>toggle menu</span>
        </button>
      </div>
    </div>
  </div>
  <h4 class="hidden-xs">Web / UX / SEO</h4>

</header>
