<header class="cf">
  <div class="upperheader cf">
  <a href="{{ site.url }}" class="logo"><h1>Daniel <br>Nikolovski</h1></a>
  <div class="nav-switch-wrapper pull-right visible-xs">
    <button class="nav-switch nav-switch-rotate">
      <span>toggle menu</span>
    </button>
  </div>

</div>
    <h4 class="visible-xs">Web / UX / SEO</h4>

  <div class="hcontainer">
    <div class="navwrapper">
      <nav class="nav">
        {% if page.active == "portfolio" %}
          <a href="{{ site.url }}/" class="current"><h5>Portfolio</h5></a>
        {% else %}
        <a href="{{ site.url }}/"><h5>Portfolio</h5></a>
        {% endif %}

        {% if page.active == "om" %}
          <a href="{{ site.url }}/om" class="current"><h5>Om mig</h5></a>
        {% else %}
          <a href="{{ site.url }}/om"><h5>Om mig</h5></a>
        {% endif %}

        {% if page.active == "artiklar" %}
          <a href="{{ site.url }}/artiklar" class="current"><h5>Artiklar</h5></a>      
        {% else %}
        <a href="{{ site.url }}/artiklar"><h5>Artiklar</h5></a>    
        {% endif %}  
      </nav>
      <div class="nav-switch-wrapper pull-right hidden-xs">
        <button class="nav-switch nav-switch-rotate">
          <span>toggle menu</span>
        </button>
      </div>
    </div>
  </div>
  <h4 class="hidden-xs">Web / UX / SEO</h4>

</header>
