@media all and (max-width:2000px) {
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font:normal 18px/32px "Open Sans", "sans";
  }
  .content_box.four p {
    font:normal 18px/32px "Open Sans", "sans";
  }
  p {
    font-size: 28px !important;
    line-height: 1.3 !important;
  }
  .hidden {
    display:none !important;
  }
  .header {
    height: 160px !important;
    background: white;
    text-transform: uppercase;
    font: normal 16px/65px "Oswald";
    position: fixed;
    z-index: 2;
  }
  .header a.logo {
    line-height: 140px;
  }
  .header a.logo img {
    width:300px;
  }
  .header ul.navigation {
    display: none;
  }
  .wrap {
    width: 100%;
  }

  .row.first {
    margin: 160px 0 0 0;
  }

  .content_box.one,
  .content_box.two {
    width: 50%;
    text-align: center;
  }
  .content_box.one img {
    margin:0 auto;
  }
  .image_box {
    width:50%;
    height:400px;
  }
  .image_box.one,
  .image_box.two,
  .image_box.three,
  .image_box.four {
    background-size:cover;
  }
  .image_box h2 {
    margin: 340px 0 0 0;
    font: normal 41px/0px "Oswald";
  }
  .image_box:hover {
    opacity: 0.96;
  }
  .image_box .arrow {
    bottom: 16px;
    left: 155px;
  }
  .image_box:hover h2 {
    margin: 330px 0 0 0;
  }
  .image_box:hover .arrow {
    background: url(../../img/theme/arrow.png) no-repeat 0 0 rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s ease-in-out 0.2s;
    -moz-transition: all 0.3s ease-in-out 0.2s;
    transition: all 0.3s ease-in-out 0.2s;
  }
  .newsletter {
    padding: 60px 10px;
  }
  .newsletter .text {
    width: 95%;
    font: normal 40px/40px "courier new";
    margin-bottom: 30px;
  }
  .newsletter input[type=text] {
    display: block;
    margin: 0 auto 10px;
    padding: 0 10px;
    width:calc(100% - 100px) !important;
    font-size: 28px;
    height: 68px;
    list-style: none;
    line-height: 30px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }
  .newsletter input[type=submit] {
    width:calc(100% - 100px) !important;
    height: 68px;
    font: normal 30px/30px "Oswald";
    margin-top: 17px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }
  .content_box.three,
  .content_box.four {
    width:100%;
    float:none;
  }
  .bottom {
    width:100%;
  }
  .container .container_push {
    height: 58px;
  }
  .footer span {
    font-size: 24px;
    line-height: 32px;
    font-size: 28px;
    line-height: 45px;
    padding-bottom:30px;
  }
  .content_box h2 {
    font: normal 50px/105px "Oswald" !important;
  }
  h1 {
    font-size: 4.3em;
    line-height: 1.2;
  }
  span.menutoggleWrapper {
    float: right;
    line-height: 143px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
    padding-top: 40px;
  }
  span.menutoggleWrapper img {
    width:70px;
    display:block;
  }
  nav.mobile-navigation {
    position: absolute;
    top: 160px;
    width:100%;
    background: rgba(255,255,255,0.95);
    overflow:hidden;
    display:none;
  }
  nav.mobile-navigation a{
    display: block;
    font-size: 3em;
    padding: 30px 0;
    border-bottom: 1px solid rgba(0,107,152,15);
    margin: 0 50px;
  }
  .autoheight {
    height:auto !important;
  }
}
